.btn {
    font-family: var(--font-family);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #3f3f3f;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background-color: #fff;
}

.btn.btn--gradient {
    background-image: var(--color-gradient);
    background-size: 120% 100%;
    color: #fff;
    transition: all 0.5s;

    &:hover {
        background-position: 100% 100%;
    }
}

.btn.btn--outline {
    background: #fff;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: var(--color-gradient);

    &:hover {
        background-color: rgba($color: #6a5af9, $alpha: 0.1);
    }
}
