@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #5de6de;
    --color-gradient: linear-gradient(to left, #b58ecc, #5de6de);

    //default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
