.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.02);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    margin: auto;
    display: flex;
    justify-content: center;
}

.header-navbar {
    flex: 1;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    align-items: center;
    height: 100%;
}
